.dashblox.icon-robux, 
.dashblox.icon-robux-16x16,
.dashblox.icon-robux-28x28, 
.dashblox.icon-robux-burst-banner, 
.dashblox.icon-robux-gold, 
.dashblox.icon-robux-gray, 
.dashblox.icon-robux-gray-16x16,
.dashblox.icon-robux-white {
    background-image: url(/resources/legacy/branded_classic.svg);
}

.dashblox.light-theme .icon-robux, 
.dashblox.light-theme .icon-robux-16x16,
.dashblox.light-theme .icon-robux-28x28, 
.dashblox.light-theme .icon-robux-burst-banner, 
.dashblox.light-theme .icon-robux-gold, 
.dashblox.light-theme .icon-robux-gray, 
.dashblox.light-theme .icon-robux-gray-16x16,
.dashblox.light-theme .icon-robux-white {
    background-image: url(/resources/legacy/branded_light.svg);
}

.dashblox.dark-theme .icon-robux, 
.dashblox.dark-theme .icon-robux-16x16,
.dashblox.dark-theme .icon-robux-28x28, 
.dashblox.dark-theme .icon-robux-burst-banner, 
.dashblox.dark-theme .icon-robux-gold, 
.dashblox.dark-theme .icon-robux-gray, 
.dashblox.dark-theme .icon-robux-gray-16x16,
.dashblox.dark-theme .icon-robux-white {
    background-image: url(/resources/legacy/branded_dark.svg);
}

.dashblox .icon-robux,
.dashblox .icon-robux-16x16,
.dashblox .icon-robux-28x28,
.dashblox .icon-robux-gray-16x16 {
    background-position: 0 -112px;
    width: 30px;
    height: 26px;
}

.dashblox .product .icon-robux-gold,
.dashblox .icon-robux-gold, .icon-robux-gold-16x16,
.dashblox #checkout-success-container .product-image .icon-robux-gold {
    background-position: 0 -500px;
}

.dashblox .icon-robux-white,
.dashblox .robux-upsell .subscribed .icon-robux-white,
.dashblox .btn-growth-md.btn-full-width.unsubscribed.ng-scope .icon-robux-white {
    background-position: 0 -252px;
    background-size: 72px auto;
    width: 36px;
    height: 36px;
}

.dashblox .icon-robux-gray,
.dashblox .robux-downsell .icon-robux-gray {
    background-position: 0 -114px;
    background-size: 57px auto;
    width: 30px;
    height: 28px
}

.dashblox .reseller-price-container .icon-robux-28x28 {
    background-position: 0 -112px;
}

.dashblox .icon-robux-price-container .icon-robux-16x16 {
    float: left;
    margin-right: 3px;
}

.dashblox .store-card-price .icon-robux-16x16 {
    margin-top: -1px;
}

.dashblox .store-card-price .icon-robux-16x16,
.dashblox .description-text.ng-binding .icon-robux-16x16,
.dashblox #textDisplay .robux-price-default-color .icon-robux-16x16,
.dashblox .text-overflow.item-card-label.ng-scope .icon-robux-gray-16x16,
.dashblox .item-card-caption .text-overflow.item-card-price .icon.icon-robux-16x16,
.dashblox .modal-content .modal-body .modal-top-body .modal-message .icon-robux-16x16,
.dashblox .modal-content .modal-footer.text-footer.modal-footer-center .icon-robux-gray-16x16,
.dashblox #assetsItems .item-card-container .text-overflow.item-card-price .icon-robux-16x16.ng-scope,
.dashblox .item-card-container.recommended-item-link .text-overflow.item-card-price .icon-robux-16x16,
.dashblox .text-overflow.item-card-price.font-header-2.text-subheader.ng-scope .icon.icon-robux-16x16.ng-scope,
.dashblox .premium-prompt.small.text.field-content.empty-label.wait-for-i18n-format-render a .icon-robux-16x16.wait-for-i18n-format-render {
    background-position: 0 -64px;
    background-size: 32px auto;
    width: 16px;
    height: 16px;
}

.dashblox .border-bottom tr .icon-robux-container .icon-robux-16x16,
.dashblox .balance-label.icon-robux-container span .icon-robux-16x16,
.dashblox .ng-scope .text-label.icon-robux-container.ng-scope .icon-robux-16x16,
.dashblox .create-server-banner-text.text .private-server-price .icon-robux-16x16 {
    background-position: 0 -101px;
    background-size: 50px auto;
    width: 25px;
    height: 23px;
}

.dashblox .icon-text-wrapper .icon-robux-16x16 {
    margin-top: -3px;
}

.dashblox .icon-default-navigation,
.dashblox .icon-nav-blog,
.dashblox .icon-nav-charactercustomizer,
.dashblox .icon-nav-friends,
.dashblox .icon-nav-giftcards,
.dashblox .icon-nav-group,
.dashblox .icon-nav-home,
.dashblox .icon-nav-inventory,
.dashblox .icon-nav-menu,
.dashblox .icon-nav-message,
.dashblox .icon-nav-my-feed,
.dashblox .icon-nav-notification-stream,
.dashblox .icon-nav-profile,
.dashblox .icon-nav-robux,
.dashblox .icon-robux-28x28#nav-robux,
.dashblox .icon-nav-search-white,
.dashblox .icon-nav-settings,
.dashblox .icon-nav-shop,
.dashblox .icon-nav-trade {
    background-image: url(/resources/legacy/navigation_light.svg);
}

.dashblox.light-theme .icon-default-navigation,
.dashblox.light-theme .icon-nav-blog,
.dashblox.light-theme .icon-nav-charactercustomizer,
.dashblox.light-theme .icon-nav-friends,
.dashblox.light-theme .icon-nav-giftcards,
.dashblox.light-theme .icon-nav-group,
.dashblox.light-theme .icon-nav-home,
.dashblox.light-theme .icon-nav-inventory,
.dashblox.light-theme .icon-nav-menu,
.dashblox.light-theme .icon-nav-message,
.dashblox.light-theme .icon-nav-my-feed,
.dashblox.light-theme .icon-nav-notification-stream,
.dashblox.light-theme .icon-nav-profile,
.dashblox.light-theme .icon-nav-robux,
.dashblox.light-theme .icon-robux-28x28#nav-robux,
.dashblox.light-theme .icon-nav-search-white,
.dashblox.light-theme .icon-nav-settings,
.dashblox.light-theme .icon-nav-shop,
.dashblox.light-theme .icon-nav-trade {
    background-image: url(/resources/legacy/navigation_light.svg);
}

.dashblox.dark-theme .icon-default-navigation,
.dashblox.dark-theme .icon-nav-blog,
.dashblox.dark-theme .icon-nav-charactercustomizer,
.dashblox.dark-theme .icon-nav-friends,
.dashblox.dark-theme .icon-nav-giftcards,
.dashblox.dark-theme .icon-nav-group,
.dashblox.dark-theme .icon-nav-home,
.dashblox.dark-theme .icon-nav-inventory,
.dashblox.dark-theme .icon-nav-menu,
.dashblox.dark-theme .icon-nav-message,
.dashblox.dark-theme .icon-nav-my-feed,
.dashblox.dark-theme .icon-nav-notification-stream,
.dashblox.dark-theme .icon-nav-profile,
.dashblox.dark-theme .icon-nav-robux,
.dashblox.dark-theme .icon-robux-28x28#nav-robux,
.dashblox.dark-theme .icon-nav-search-white,
.dashblox.dark-theme .icon-nav-settings,
.dashblox.dark-theme .icon-nav-shop,
.dashblox.dark-theme .icon-nav-trade {
    background-image: url(/resources/legacy/navigation_dark.svg);
}

.dashblox .icon-nav-robux {
    background-position: 0 -28.7px;
}

.dashblox .icon-robux-28x28#nav-robux,
.dashblox #nav-robux-icon .icon-robux-28x28,
.dashblox .group-detail-stat.col-xs-6.col-md-2 h3.icon-text-wrapper .icon-robux-28x28 {
    background-position: 0 -28px;
    background-repeat: no-repeat;
    background-size: auto auto;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    width: 28px;
    height: 28px;
}

.dashblox .icon-nav-robux:hover,
.dashblox a:hover .icon-nav-robux,
.dashblox button:hover .icon-nav-robux,
.dashblox #nav-robux-icon .icon-robux-28x28:hover {
    background-position: -28px -28px;
    background-repeat: no-repeat;
    background-size: auto auto;
    vertical-align: middle;
    margin-top: -2px;
    display: inline-block;
    width: 28px;
    height: 28px;
}