.icon-robux, 
.icon-robux-16x16,
.icon-robux-28x28, 
.icon-robux-burst-banner, 
.icon-robux-gold, 
.icon-robux-gray, 
.icon-robux-white {
    background-image: url(/css/resources/legacy/branded_classic.svg);
}

.light-theme .icon-robux, 
.light-theme .icon-robux-16x16,
.light-theme .icon-robux-28x28, 
.light-theme .icon-robux-burst-banner, 
.light-theme .icon-robux-gold, 
.light-theme .icon-robux-gray, 
.light-theme .icon-robux-white {
    background-image: url(/css/resources/legacy/branded_light.svg);
}

.dark-theme .icon-robux, 
.dark-theme .icon-robux-16x16,
.dark-theme .icon-robux-28x28, 
.dark-theme .icon-robux-burst-banner, 
.dark-theme .icon-robux-gold, 
.dark-theme .icon-robux-gray, 
.dark-theme .icon-robux-white {
    background-image: url(/css/resources/legacy/branded_dark.svg);
}

.icon-robux,
.icon-robux-16x16,
.icon-robux-28x28 {
    background-position: 0 -112px;
    width: 30px;
    height: 26px;
}

.product .icon-robux-gold,
.icon-robux-gold, .icon-robux-gold-16x16,
#checkout-success-container .product-image .icon-robux-gold {
    background-position: 0 -500px;
}

.icon-robux-white,
.robux-upsell .subscribed .icon-robux-white {
    background-position: 0 -252px;
    background-size: 72px auto;
    width: 36px;
    height: 36px;
}

.icon-robux-gray,
.robux-downsell .icon-robux-gray {
    background-position: 0 -114px;
    background-size: 57px auto;
    width: 30px;
    height: 28px
}

.reseller-price-container .icon-robux-28x28 {
    background-position: 0 -112px;
}

.icon-robux-price-container .icon-robux-16x16 {
    float: left;
    margin-right: 3px;
}

.store-card-price .icon-robux-16x16 {
    margin-top: -1px;
}

.modal-content .modal-body .modal-top-body .modal-message .icon-robux-16x16,
#assetsItems .item-card-container .text-overflow.item-card-price .icon-robux-16x16.ng-scope,
.store-card-price .icon-robux-16x16,
.item-card-caption .text-overflow.item-card-price .icon.icon-robux-16x16,
.text-overflow.item-card-price.font-header-2.text-subheader.ng-scope .icon.icon-robux-16x16.ng-scope,
.item-card-container.recommended-item-link .text-overflow.item-card-price .icon-robux-16x16 {
    background-position: 0 -64px;
    background-size: 32px auto;
    width: 16px;
    height: 16px;
}

.icon-text-wrapper .icon-robux-16x16 {
    margin-top: -3px;
}