.game-extra-context {
    position: absolute;
    top: 6px;
    right: 0px;
    z-index: 2;
}

.game-pin-icon {
    background-position: 0px 0px;
    background-size: 40px 70px;
    vertical-align: middle;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(/resources/games/pin.png);
}

.light-theme .game-pin-icon {
    background-position: 0px 0px;
}

.dark-theme .game-pin-icon {
    background-position: 0px -20px;
}

.game-pin-icon:hover {
    background-position: -20px 0px;
}

.dark-theme .game-pin-icon:hover {
    background-position: -20px -20px;
}

.game-pin-icon.active {
    background-position: -20px 0px;
}

.dark-theme .game-pin-icon.active {
    background-position: -20px -20px;
}